/* Do all of this later after you finish the code */

body {
    font-family: Arial, 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 20px;
    background-color:rgba(253, 227, 255, 0.834);
}
h1 {
    padding: 10px;
    text-align: center;
    margin: 10px;
    border: 2px solid rgb(246, 184, 235);
    background-color: rgb(255, 226, 250);
    border-radius: 8px;
    width: 620px;
    display: block;
}
#product-container {
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(236, 148, 205);
    background-color: rgb(244, 201, 229);
    border-radius: 5px;
    font-weight: bold;
    width: 860px;
}
main {
    cursor: pointer;
    color: rgb(0, 0, 0);
}